<script setup>
import LogoWhite from "@/assets/img/logo.png";
import Location from "@/assets/img/pin.png";
import Phone from "@/assets/img/phone.png";
import Email from "@/assets/img/email.png";
import Telegram from "@/assets/img/tg.png";
import Instagram from "@/assets/img/insta.png";
import Fasebook from "@/assets/img/fb.png";
import Twitter from "@/assets/img/tw.png";
import YouTube from "@/assets/img/yt.png";
</script>
<template>
  <div class="bg-blue-900">
    <div class="container mx-auto grid xl:grid-cols-3 gap-10 text-white p-10">
      <div>
        <h4 class="text-xl uppercase border-b-2 inline pb-1">Biz haqimizda</h4>
        <img :src="LogoWhite" class="mt-10" alt="Logo my institute" />
      </div>
      <div>
        <h4 class="text-xl uppercase border-b-2 inline pb-1">Aloqa</h4>
        <div class="flex mt-10 gap-4 items-center">
          <img :src="Location" class="w-6 h-6" />
          <p class="leading-7">
            130100.Jizzax viloyati, Jizzax shahri,<br />
            Sharof Rashidov ko'chasi, 4-uy.
          </p>
        </div>
        <div class="flex mt-10 gap-12 items-center">
          <div class="flex gap-4">
            <img :src="Phone" />
            <p>+(99872) 226 13 57</p>
          </div>
          <div class="flex gap-4 items-center">
            <img :src="Email" />
            <p>jiz.jdpi@exat.uz</p>
          </div>
        </div>
      </div>
      <div>
        <h4 class="text-xl uppercase border-b-2 inline pb-1">
          Ijtimoiy tarmoqlarda
        </h4>
        <div class="flex items-center gap-4 mt-10 children:cursor-pointer">
          <img :src="Telegram" alt="Logo Telegram" />
          <img :src="Instagram" alt="Logo Instagram" />
          <img :src="Fasebook" alt="Logo Fasebook" />
          <img :src="Twitter" alt="Logo Twitter" />
          <img :src="YouTube" alt="Logo YouTube" />
        </div>
      </div>
    </div>
  </div>
</template>
