<script setup>
import { ref } from "vue";

import Logo from "@/assets/img/logo1.png";

import { MenuOutlined, CloseOutlined } from "@ant-design/icons-vue";

const IsMobile = ref(false);
function handleMenu() {
  IsMobile.value = !IsMobile.value;
}
</script>
<template>
  <div class="border-b-none md:border-b bg-gray-100 md:px-20">
    <div
      class="container mx-auto justify-between items-center py-4 hidden md:flex"
    >
      <div>
        <router-link to="/">
          <img :src="Logo" class="max-h-70px w-auto" alt="not found logo" />
        </router-link>
      </div>
      <div class="flex gap-6">
        <router-link to="/talents"> Iqtidorli talabalar </router-link>
        <router-link to="/about"> Biz haqimizda </router-link>
        <router-link to="/contest"> Tanlovlar</router-link>
        <router-link to="/press"> Matbuot xizmati</router-link>
      </div>
      <div>
        <router-link to="/"> Kirish </router-link>
      </div>
    </div>

    <div
      class="flex md:hidden justify-between py-4 container mx-auto items-center px-2 border"
    >
      <div>
        <router-link to="/">
          <img :src="Logo" class="max-h-50px w-auto" alt="not found logo" />
        </router-link>
      </div>
      <button
        @click="handleMenu"
        class="flex items-center justify-center border p-2 rounded-md"
      >
        <MenuOutlined v-if="IsMobile" />
        <CloseOutlined v-else />
      </button>
    </div>
    <div
      class="flex flex-col gap-4 md:hidden items-center py-4 container mx-auto px-2"
      :class="IsMobile ? 'hidden' : 'flex'"
    >
      <router-link to="/talents"> Iqtidorli talabalar </router-link>
      <router-link to="/about"> Biz haqimizda </router-link>
      <router-link to="/contest"> Tanlovlar</router-link>
      <router-link to="/press"> Matbuot xizmati</router-link>
    </div>
  </div>
</template>
