@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro/GothamPro-Black.eot');
  src: local('Gotham Pro Black'), local('GothamPro-Black'), url('../fonts/GothamPro/GothamPro-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamPro/GothamPro-Black.woff') format('woff'), url('../fonts/GothamPro/GothamPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro/GothamPro-Bold.eot');
  src: local('Gotham Pro Bold'), local('GothamPro-Bold'), url('../fonts/GothamPro/GothamPro-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamPro/GothamPro-Bold.woff') format('woff'), url('../fonts/GothamPro/GothamPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 500';
  src: url('../fonts/MuseoSans/MuseoSansCyrl-500.eot');
  src: local('MuseoSansCyrl-500'), url('../fonts/MuseoSans/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'), url('../fonts/MuseoSans/MuseoSansCyrl-500.woff') format('woff'), url('../fonts/MuseoSans/MuseoSansCyrl-500.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 500';
  src: url('../fonts/MuseoSans/MuseoSansCyrl-500Italic.eot');
  src: local('MuseoSansCyrl-500Italic'), url('../fonts/MuseoSans/MuseoSansCyrl-500Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/MuseoSans/MuseoSansCyrl-500Italic.woff') format('woff'), url('../fonts/MuseoSans/MuseoSansCyrl-500Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Museo Sans Cyrl 900';
  src: url('../fonts/MuseoSans/MuseoSansCyrl-900.eot');
  src: local('MuseoSansCyrl-900'), url('../fonts/MuseoSans/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'), url('../fonts/MuseoSans/MuseoSansCyrl-900.woff') format('woff'), url('../fonts/MuseoSans/MuseoSansCyrl-900.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 700';
  src: url('../fonts/MuseoSans/MuseoSansCyrl-700.eot');
  src: local('MuseoSansCyrl-700'), url('../fonts/MuseoSans/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'), url('../fonts/MuseoSans/MuseoSansCyrl-700.woff') format('woff'), url('../fonts/MuseoSans/MuseoSansCyrl-700.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 700';
  src: url('../fonts/MuseoSans/MuseoSansCyrl-700Italic.eot');
  src: local('MuseoSansCyrl-700Italic'), url('../fonts/MuseoSans/MuseoSansCyrl-700Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/MuseoSans/MuseoSansCyrl-700Italic.woff') format('woff'), url('../fonts/MuseoSans/MuseoSansCyrl-700Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Museo Sans Cyrl 300';
  src: url('../fonts/MuseoSans/MuseoSansCyrl-300.eot');
  src: local('MuseoSansCyrl-300'), url('../fonts/MuseoSans/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'), url('../fonts/MuseoSans/MuseoSansCyrl-300.woff') format('woff'), url('../fonts/MuseoSans/MuseoSansCyrl-300.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 100';
  src: url('../fonts/MuseoSans/MuseoSansCyrl-100.eot');
  src: local('MuseoSansCyrl-100'), url('../fonts/MuseoSans/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'), url('../fonts/MuseoSans/MuseoSansCyrl-100.woff') format('woff'), url('../fonts/MuseoSans/MuseoSansCyrl-100.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 100';
  src: url('../fonts/MuseoSans/MuseoSansCyrl-100Italic.eot');
  src: local('MuseoSansCyrl-100Italic'), url('../fonts/MuseoSans/MuseoSansCyrl-100Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/MuseoSans/MuseoSansCyrl-100Italic.woff') format('woff'), url('../fonts/MuseoSans/MuseoSansCyrl-100Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Museo Sans Cyrl 900';
  src: url('../fonts/MuseoSans/MuseoSansCyrl-900Italic.eot');
  src: local('Museo Sans Cyrl 900 Italic'), local('MuseoSansCyrl-900Italic'), url('../fonts/MuseoSans/MuseoSansCyrl-900Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/MuseoSans/MuseoSansCyrl-900Italic.woff') format('woff'), url('../fonts/MuseoSans/MuseoSansCyrl-900Italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    "Noto Sans",
    "Liberation Sans",
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  ;
}