<script setup>
// import component
import MainLayout from "./layouts/MainLayout.vue";
import AdminLayout from "./layouts/AdminLayout.vue";

// import composition-api
import { computed } from "vue";
import { useRoute } from "vue-router";

const route = useRoute();

const layouts = {
  main: MainLayout,
  admin: AdminLayout,
};

const choosedLayout = computed(() => {
  let cl = route.meta.layout || "main";
  return cl;
});
</script>
<template>
  <component :is="layouts[choosedLayout]">
    <RouterView />
  </component>
</template>
