<script setup>
import ImagePdf from "@/assets/img/pdf.png";
import ImageDownload from "@/assets/img/download.png";
import { defineProps } from "vue";

const props = defineProps({
  docName: String,
  docDay: String,
  docTime: String,
  docSize: String,
});
</script>

<template>
  <div
    class="border-b-2 border-gray-200 grid md:grid-cols-2 gap-10 w-full font-light text-xl"
  >
    <div class="flex justify-between items-center">
      <img :src="ImagePdf" class="w-15 h-15" />
      <h3 class="pl-6">{{ docName }}</h3>
    </div>
    <div class="flex justify-between items-center">
      <p>{{ docDay }}</p>
      <p>{{ docTime }}</p>
      <p>{{ docSize }}KB</p>
      <img :src="ImageDownload" class="w-6 h-6 cursor-pointer z-10" />
    </div>
  </div>
</template>
