<script setup>
import HomeAboutImg_1 from "../../assets/img/platform-1.png";
import HomeAboutImg_2 from "../../assets/img/platform-2.png";
import HomeAboutImg_3 from "../../assets/img/platform-3.png";
import HomeAboutImg_4 from "../../assets/img/platform-4.png";
</script>
<template>
  <div class="container mx-auto p-15 bg-gray-100">
    <div class="block flex items-center gap-16">
      <span class="w-3/5 h-2px rounded-sm bg-blue-900"></span>
      <h2 class="text-2xl uppercase text-blue-900">
        Biz haqimizda platformalar
      </h2>
    </div>
    <div class="grid md:grid-cols-2 xl:grid-cols-4 gap-10 mt-10 text-center">
      <div
        class="bg-white flex flex-col items-center p-10 mt-10 relative shadow-2xl rounded-sm min-h-80 cursor-pointer"
      >
        <h4 class="text-xl font-semibold text-blue-900">
          G&#039;oyalar <br />
          generatori
        </h4>
        <img
          :src="HomeAboutImg_1"
          class="absolute top-28"
          alt="Image platform"
        />
        <p class="absolute top-50 text-sm max-w-5/6">
          Biz haqimizdaning asosiy yo&#039;nalishlariga tegishli bo&#039;lgan
          ma&#039;lum bir muammoning yechimiga qaratilgan innovatsion
          g&#039;oyaga ega jamoalar platformasi
        </p>
      </div>
      <div
        class="bg-white flex flex-col items-center p-10 mt-10 relative shadow-2xl rounded-sm min-h-80 cursor-pointer"
      >
        <h4 class="text-xl font-semibold text-blue-900">Startaplar</h4>
        <img
          :src="HomeAboutImg_2"
          class="absolute top-28"
          alt="Image platform"
        />
        <p class="absolute top-50 text-sm max-w-5/6">
          O&#039;z g&#039;oyasi va ushbu g&#039;oyani amalga oshirishga
          qaratilgan startap loyihalari va ularni amalga oshirish bo&#039;yicha
          aniq rejaga ega jamoalar platformasi
        </p>
      </div>
      <div
        class="bg-white flex flex-col items-center p-10 mt-10 relative shadow-2xl rounded-sm min-h-80 cursor-pointer"
      >
        <h4 class="text-xl font-semibold text-blue-900">
          Biznes <br />
          vakillar
        </h4>
        <img
          :src="HomeAboutImg_3"
          class="absolute top-28"
          alt="Image platform"
        />
        <p class="absolute top-50 text-sm max-w-5/6">
          Faoliyatida ilm-fan va innovasiya yutuqlarini qo&#039;llagan va
          tegishli sohada kamida 1 yillik tajribaga ega bo&#039;lgan jamoalar
          platformasi
        </p>
      </div>
      <div
        class="bg-white flex flex-col items-center p-10 mt-10 relative shadow-2xl rounded-sm min-h-80 cursor-pointer"
      >
        <h4 class="text-xl font-semibold text-blue-900">
          Bo&#039;lajak <br />
          Akademiklar
        </h4>
        <img
          :src="HomeAboutImg_4"
          class="absolute top-28"
          alt="Image platform"
        />
        <p class="absolute top-50 text-sm max-w-5/6">
          Yuqoridagi platformalarda faol ishtirok etgan, mamlakatning ilm-fan
          rivojlanishiga katta hissa qo&#039;shayotgan yuqori ilmiy salohiyatga
          ega olimlar platformasi.
        </p>
      </div>
    </div>
  </div>
</template>
