<script setup>
import HomeAdImg_1 from "@/assets/img/bobur-10.jpg";
import HomeAdImg_2 from "@/assets/img/photo.png";
</script>

<template>
  <div class="container mx-auto p-10">
    <div class="block flex items-center gap-16 flex-row-reverse">
      <span class="w-4/5 h-2px rounded-sm bg-white"></span>
      <h2 class="text-2xl uppercase text-white">E'lonlar</h2>
    </div>
    <div class="grid md:grid-cols-2 xl:grid-cols-3 gap-10">
      <div class="mt-32 bg-white flex flex-col items-center px-10 relative">
        <img
          :src="HomeAdImg_1"
          class="relative -top-20 rounded-80px"
          alt="Card image Ad section"
        />
        <h4
          class="absolute top-8/12 w-11/12 pl-6 text-xl font-semibold bg-blue-500/15 backdrop-blur-md"
        >
          Zahiriddin Muhammad Bobur ilmiy-ijodiy merosining jahon adabiyoti,
          ilm-fani va davlatchiligi tarixida tutgan o&#039;rni
        </h4>
        <button
          class="relative -top-6 outline-none bg-blue-900 text-white w-full h-8 rounded-md font-semobold"
        >
          Batafsil
        </button>
      </div>
      <div class="mt-32 bg-white flex flex-col items-center px-10 relative">
        <img
          :src="HomeAdImg_2"
          class="relative -top-20 rounded-80px"
          alt="Card image Ad section"
        />
        <h4
          class="absolute top-8/12 w-11/12 pl-6 text-xl font-semibold bg-blue-500/15 backdrop-blur-md"
        >
          Aziz talabalar! Siz uchun yana bir bor Xalqaro konferensiyada ishtirok
          etish uchun imkoniyat!
        </h4>
        <button
          class="relative -top-6 outline-none bg-blue-900 text-white w-full h-8 rounded-md font-semobold"
        >
          Batafsil
        </button>
      </div>
      <div class="mt-32 bg-white flex flex-col items-center px-10 relative">
        <img
          :src="HomeAdImg_1"
          class="relative -top-20 rounded-80px"
          alt="Card image Ad section"
        />
        <h4
          class="absolute top-8/12 w-11/12 pl-6 text-xl font-semibold bg-blue-500/15 backdrop-blur-md"
        >
          Zahiriddin Muhammad Bobur ilmiy-ijodiy merosining jahon adabiyoti,
          ilm-fani va davlatchiligi tarixida tutgan o&#039;rni
        </h4>
        <button
          class="relative -top-6 outline-none bg-blue-900 text-white w-full h-8 rounded-md font-semobold"
        >
          Batafsil
        </button>
      </div>
    </div>
  </div>
</template>
