<script setup>
import BgImage from "@/assets/img/mainback.png";
import Logo from "@/assets/img/logo1.png";
import New_1 from "@/assets/img/new1.jpg";
import New_2 from "@/assets/img/new3.jpg";
import New_3 from "@/assets/img/Rectangle 61.png";
import New_4 from "@/assets/img/photo.jpg";
import Calendar from "@/assets/img/news-card-data.png";
</script>
<template>
  <div>
    <img
      :src="BgImage"
      class="fixed w-screen h-screen top-0 -z-10"
      alt="backroun image"
    />
    <div class="container mx-auto">
      <img
        :src="Logo"
        class="w-1/3 relative left-1/2 top-20 hidden md:block"
        alt="logo my institute"
      />
    </div>
  </div>
  <div class="bg-gray-100 md:mt-48 p-10">
    <div class="container mx-auto">
      <div class="block flex items-center gap-16">
        <span class="w-4/5 h-2px rounded-sm bg-blue-900"></span>
        <h2 class="text-2xl uppercase text-blue-900">Yangiliklar</h2>
      </div>
      <div
        class="block md:grid md:grid-cols-2 xl:grid-cols-4 justify-between gap-10 mt-10"
      >
        <div class="block shadow-xl p-2 bg-white rounded-sm cursor-pointer">
          <img class="max-h-50 md:w-full" :src="New_1" />
          <h3 class="text-xl font-medium">
            XXI asr ko&#039;nikmalarini ommalashtirishda talabalarning
          </h3>

          <a href="#" class="flex items-center gap-4 my-4">
            <img :src="Calendar" />
            <p class="text-sm">2023-02-04 10:34:49</p></a
          >

          <p class="text-12px max-h-15 overflow-hidden">
            Abdulla Qodiriy nomidagi jizzax davlat pedagogika universiteti
            Oʻzbekiston Respublikasi Prezidentining 2022-yil 21-iyundagi
            “Pedagogik ta&#039;lim sifatini oshirish va pedagog kadrlar
            tayyorlovchi oliy ta&#039;lim muassasalari faoliyatini yanada
            rivojlantirish chora-tadbirlari toʻgʻrisida”gi PQ–289-son qarorining
            2-ilovasiga muvofiq tasdiqlangan “Yoʻl xaritasi” 18.1-bandida
            xalqaro talabalar anjumanlarini oʻtkazish va ularda xorijiy
            talabalar ishtirokini ta&#039;minlash vazifasi belgilangan.
          </p>
        </div>
        <div class="shadow-xl p-2 bg-white rounded-sm cursor-pointer">
          <img class="max-h-50 w-full" :src="New_2" />
          <h3 class="text-xl font-medium">Startap loyiha nima?</h3>

          <a href="#" class="flex items-center gap-4 my-4">
            <img :src="Calendar" />
            <p class="text-sm">2023-02-04 10:34:49</p></a
          >

          <p class="text-12px max-h-15 overflow-hidden">
            2022-yil 15-dekabr kuni Iqtidorli talabalarning ilmiy tadqiqot
            faoliyatini tashkil etish bo&#039;limi IT-Park Jizzax viloyati
            filiali bilan hamkorlikda seminar-trening tashkil etdi.
            Seminar-treningda IT-Park Jizzax viloyati filiali mutaxassisi Axror
            Abdug&#039;aniyev &quot;Startap loyiha nima?&quot; mavzusida
            taqdimot qildi va talabalarga mavzu haqida batafsil ma&#039;lumot
            berdi
          </p>
        </div>
        <div class="shadow-xl p-2 bg-white rounded-sm cursor-pointer">
          <img class="max-h-50 w-full" :src="New_3" />
          <h3 class="text-xl font-medium">
            Tadqiqotchilik va kreativ sa&#039;y-harakatlarni qo&#039;llaymiz
          </h3>

          <a href="#" class="flex items-center gap-4 my-4">
            <img :src="Calendar" />
            <p class="text-sm">2023-02-04 10:34:49</p></a
          >

          <p class="text-12px max-h-15 overflow-hidden">
            2022-yil 2-dekabr kuni Samarqand iqtisodiyot va servis institutida
            “Tadqiqotchilik va kreativ sa&#039;y-harakatlarni qo&#039;llaymiz”
            shiori ostida VII xalqaro talabalar simpoziumi bo&#039;lib
            o&#039;tdi. Simpoziumda Ruminiya, Xitoy, Qozog&#039;iston, Belarus,
            Qatar davlatlaridan, shuningdek, Buxoro, Toshkent, Samarqand
            oliygohlar talabalari bilan bir qatorda JDPU iqtidorli talabalari
            ham ishtirok etdi. Simpozium iqtidorli talabalarga o&#039;z
            ishlarini xalqaro anjumanga yoki ma&#039;lum bir fanga oid ilmiy
            anjumanlarga teng professional muhitda taqdim etish imkoniyatini
            berdi. Universitetimiz iqtidorli talabalari Ilyosov Umidjon,
            Abduraimov Abdulaziz, Fayzullayeva Gavhar, Melsova Laylo, Azimova
            Durdona, Abdusobirova Marjona, Norboyeva Go&#039;zal, Yangiboyeva
            Feruzalar o&#039;z taqdimotlari bilan ishtirok etdi. Ishlari yuqori
            baholangan talabalar sertifikat va esdalik sovg&#039;alari bilan
            taqdirlandi. Shuningdek mazkur simpoziumda Yoshlar masalalari va
            ma&#039;naviy-ma&#039;rifiy ishlar bo&#039;yicha birinchi prorektor
            S.Nazarqosimov va Iqtidorli talabalarning ilmiy-tadqiqot faoliyatini
            tashkil etish bo&#039;limi boshlig&#039;i D.Fazilovaga &quot;Eng
            faol tashkilotchi&quot; nominatsiyasi bo&#039;yicha halqaro
            sertifikat topshirildi. Hamda iqtidorli talabamiz Abduraimov
            Abdulaziz “Best Student Paper Award” nominatsiyasi bo&#039;yicha
            xalqaro sertifikatni qo&#039;lga kiritdi.
          </p>
        </div>
        <div class="shadow-xl p-2 bg-white rounded-sm cursor-pointer">
          <img class="max-h-50 w-full" :src="New_4" />
          <h3 class="text-xl font-medium">
            Jizzax viloyatida ilk bor &quot;DevFest 2022 Jizzakh&quot;
            dasturchilar festivali tashkil qilindi.
          </h3>

          <a href="#" class="flex items-center gap-4 my-4">
            <img :src="Calendar" />
            <p class="text-sm">2023-02-04 10:34:49</p></a
          >

          <p class="text-12px max-h-15 overflow-hidden">
            26-noyabr kuni Axborot texnologiyalari va kommunikatsiyalarini
            rivojlantirish vazirligi, IT Park, Google Developer Groups hamda
            Sambhram universiteti hamkorligida DevFest - Jizzaxdagi birinchi
            texnologiya festivali tashkil qilindi. Universitetning Pedagogika va
            psixologiya, Tabiiy fanlar, Xorijiy tillar, O&#039;zbek tili va
            adabiyoti, Maktabgacha ta&#039;lim fakultetlaridan jami 18 nafar
            iqtidorli talabalar qatnashishdi .Xorijiy IT korxonalarda
            (Codemotion Ninja, iTransition Group, Toptal, iTechArt) faoliyat
            olib boruvchi dasturchi spikerlar konferensiya davomida o&#039;z
            tajribalari bilan bo&#039;lishishdi va quyidagi yo&#039;nalishlarda
            amaliy master-klaslar ko&#039;rsatishdi. WEB; Mobile ; Dizayn.
            Dasturchilar festivalida qatnashgan yoshlar, dasturchi spikerlar
            tomonidan o`zlarini qiziqtirgan barcha savollariga javob olishdi
            hamda amaliy topshiriqlarni bajargan ishtirokchilar tashkilotchilar
            tomonidan taqdirlanishdi.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
