<script setup>
import TalentsPage from "./TalentsPage.vue";
import DocumentItem from "./DocumentItem.vue";
</script>

<template>
  <div class="mt-10 w-full">
    <TalentsPage class="bg-white py-5 font-bold"> Hujjatlar: </TalentsPage>
    <TalentsPage class="bg-white py-10">
      <DocumentItem
        docName="Iqtidorli talabalar reytingini baholash me'zonlari"
        docDay="04.01.2023"
        docTime="17:16"
        docSize="299"
      />
    </TalentsPage>
  </div>
</template>
