<script setup>
import { defineProps } from "vue";

const props = defineProps({
  src: String,
  label: String,
});
</script>

<template>
  <div
    class="flex md:gap-10 items-center text-blue-900 text-xl w-350px xl:w-500px"
  >
    <img :src="src" alt="Image Page" />
    {{ label }}
  </div>
</template>
