<script setup>
import InstituteImage from "@/assets/img/university.png";
</script>

<template>
  <div class="grid md:grid-cols-2 items-center gap-10">
    <div class="">
      <h2 class="text-blue-900 text-4xl font-semibold py-6">
        Iqtidorli talabalar reytingi
      </h2>
      <p class="text-blue-900 font-light">
        Universitetda iqtidorli talabalar O'zbekiston Respublikasi
        Prezidentining 2018-yil 5-iyundagi “Oliy ta'lim muassasalarida ta'lim
        sifatini oshirish va ularning mamlakatda amalga oshirilayotgan keng
        qamrovli islohotlarda faol ishtirokini ta'minlash bo'yicha qo'shimcha
        chora-tadbirlar to'g'risida”gi PQ - 3775-son qaroriga muvofiq
        fakultetlar kesimida talabalar orasidan saralab olinadi.
      </p>
      <h6 class="font-bold text-blue-900 py-4">
        Iqtidorli talabalar reytingi ularning erishgan yutuqlari asosida
        yuritiladi. Buning uchun iqtidorli talabalar quyidagi hujjatlarni
        tizimga joylashtirishi talab etiladi:
      </h6>
    </div>
    <img :src="InstituteImage" class="w-11/12" />
  </div>
</template>
