<script setup>
import TalentsPageItem from "./TalentsPageItem.vue";
import TalentsPage from "./TalentsPage.vue";

import ImageRey_1 from "@/assets/img/rey-1.png";
import ImageRey_2 from "@/assets/img/rey-2.png";
import ImageRey_3 from "@/assets/img/rey-3.png";
import ImageRey_4 from "@/assets/img/rey-4.png";
import ImageRey_5 from "@/assets/img/rey-5.png";
import ImageRey_6 from "@/assets/img/rey-6.png";
import ImageRey_7 from "@/assets/img/rey-7.png";
import ImageRey_8 from "@/assets/img/rey-8.png";
import ImageRey_9 from "@/assets/img/rey-9.png";
import ImageRey_10 from "@/assets/img/rey-10.png";
</script>
<template>
  <div class="flex flex-col w-full">
    <TalentsPage class="bg-white py-15 font-bold">
      Tizimga joylash lozim bo'lgan hujjatlar:
    </TalentsPage>

    <TalentsPage class="bg-blue-100 py-5">
      <TalentsPageItem
        :src="ImageRey_1"
        label="Fanlarni o'zlashtirish darajasi   (o'quv varaqasi nusxasi)"
      />
      <TalentsPageItem
        :src="ImageRey_2"
        label="Respublika va xalqaro olimpiadalarda erishgan yutuqlari (diplom)"
      />
    </TalentsPage>
    <TalentsPage>
      <TalentsPageItem
        :src="ImageRey_3"
        label="Ilmiy-tadqiqot ishi doirasida chiqarilgan tezis va maqolalari (Respublika va Xalqaro miqyosdagi konferensiyalar)"
      />
      <TalentsPageItem
        :src="ImageRey_4"
        label="Ilmiy-tadqiqot ishi doirasida chiqarilgan ilmiy maqolalari (Respublika va Xalqaro ilmiy jurnallar)"
      />
    </TalentsPage>
    <TalentsPage class="bg-blue-100 py-5">
      <TalentsPageItem
        :src="ImageRey_5"
        label="Ilmiy-tadqiqot ishi doirasida chiqarilgan monografiya, o'quv, uslubiy qo'llanmasi"
      />
      <TalentsPageItem
        :src="ImageRey_6"
        label="Xorijiy tillarni bilish darajasi (sertifikat)"
      />
    </TalentsPage>
    <TalentsPage>
      <TalentsPageItem
        :src="ImageRey_7"
        label="Axborot texnologiyalari sohasidagi erishgan yutuqlari (sertifikat)"
      />
      <TalentsPageItem
        :src="ImageRey_8"
        label="Republika va xalqaro tanlovlarda erishgan yutuqlari (sertifikat va diplom)"
      />
    </TalentsPage>
    <TalentsPage class="bg-blue-100 py-5">
      <TalentsPageItem
        :src="ImageRey_9"
        label="Innovatsion yechimlar va ishlanmalar, startap loyihalarini yaratishdagi faol ishtiroki (sertifikat, diplom, guvohnoma)"
      />
      <TalentsPageItem :src="ImageRey_10" label="Ijodiy yutuqlari" />
    </TalentsPage>
    <TalentsPage />
  </div>
</template>
