<script setup>
import { defineProps } from "vue";

const props = defineProps({
  Num: String,
  name: String,
  direction: String,
  label: String,
});
</script>

<template>
  <div
    class="flex items-center w-full text-xl py-5 px-10 text-blue-900 hover:bg-blue-500"
    :class="$attrs.class || 'bg-white font-normal'"
  >
    <h2 class="w-1/12">{{ Num }}</h2>
    <p class="w-4/12">{{ name }}</p>
    <p class="w-6/12">{{ direction }}</p>
    <p>{{ label }}</p>
  </div>
</template>
