<script setup>
import TalentsListItem from "./TalentsListItem.vue";
</script>

<template>
  <div class="my-10 w-full">
    <TalentsListItem
      class="bg-blue-500 font-semibold"
      Num="T/r"
      name="Talaba Ismi"
      direction="Talaba yo'nalishi"
      label="Bahosi"
    />

    <TalentsListItem
      class="bg-blue-300 font-normal"
      Num="1"
      name="Yuldashov Ural Boynazar o'g'li "
      direction="Tashishni tashkil etish"
      label="92"
    />
    <TalentsListItem
      Num="2"
      name="Yuldashov Ural Boynazar o'g'li "
      direction="Tashishni tashkil etish"
      label="77"
    />
    <TalentsListItem
      class="bg-blue-300 font-normal"
      Num="3"
      name="Yuldashov Ural Boynazar o'g'li "
      direction="Tashishni tashkil etish"
      label="60"
    />
    <TalentsListItem
      Num="4"
      name="Yuldashov Ural Boynazar o'g'li "
      direction="Tashishni tashkil etish"
      label="83"
    />
    <TalentsListItem
      class="bg-blue-300 font-normal"
      Num="5"
      name="Yuldashov Ural Boynazar o'g'li "
      direction="Tashishni tashkil etish"
      label="71"
    />
  </div>
</template>
