<script setup>
import TalentsPage from "./TalentsPage.vue";
import DocumentItem from "./DocumentItem.vue";

import BodyDecor from "@/assets/img/body-decor.png";
import InstituteImage from "@/assets/img/university.png";
</script>

<template>
  <div class="bg-gray-100 md:px-20 relative pl-5">
    <img :src="BodyDecor" class="absolute -top-26 left-0" />
    <div class="grid md:grid-cols-2 items-center gap-10">
      <div class="">
        <h2 class="text-blue-900 text-4xl font-semibold py-6">Biz Haqimizda</h2>
        <p class="text-blue-900 font-light">
          O'zbekiston Respublikasi Prezidentining 2019-yil 30-avgustdagi
          “Yoshlarni ilm-fan sohasiga jalb etish va ularning tashabbuslarini
          qo'llab-quvvatlash tizimini takomillashtirish chora-tadbirlari
          to'g'risida” PQ-4433-son qaroriga ko'ra Abdulla Qodiriy nomidagi
          Jizzax davlat pedagogika universiteti huzurida iqtidorli va
          tashabbuskor talabalarni har tomonlama qo'llab-quvvatlash maqsadida
          Biz haqimizda tashkil etildi. Biz haqimizda 4 ta platforma bo'yicha
          jamoalarni a'zolikka qabul qiladi va a'zolarini yangi istiqbolli
          yo'nalishlar bo'yicha yetuk mutaxassislar bo'lishlarida amaliy yordam
          ko'rsatadi.
        </p>
      </div>
      <img :src="InstituteImage" class="w-11/12" />
    </div>
    <div class="py-10 w-full">
      <TalentsPage class="bg-white py-5 font-bold"> Hujjatlar: </TalentsPage>
      <TalentsPage class="bg-white py-5 font-bold">
        <DocumentItem
          docName="Jizzax davlat pedagogika universiteti huzuridagi “Biz haqimizda to'g'risida”gi nizom"
          docDay="02.12.2023"
          docTime="10:42"
          docSize="317"
        />
      </TalentsPage>
      <TalentsPage class="bg-white py-5 font-bold">
        <DocumentItem
          docName="Jizzax davlat pedagogika universiteti Talabalar Biz haqimizda Kengashi nizomi"
          docDay="02.12.2023"
          docTime="21:16"
          docSize="700"
        />
      </TalentsPage>
      <TalentsPage class="bg-white py-5 font-bold">
        <DocumentItem
          docName="Biz haqimizda platformalariga iqtidorli va tashabbuskor yoshlardan iborat jamoalarni saralash to'g'risida nizom"
          docDay="02.12.2023"
          docTime="23:50"
          docSize="412"
        />
      </TalentsPage>
    </div>
  </div>
</template>
