<script setup>
import BodyDecor from "@/assets/img/body-decor.png";
import ImageContest from "@/assets/img/contest.jpg";
import Calendar from "@/assets/img/news-card-data.png";
</script>
<template>
  <div class="bg-gray-100 md:px-20 relative text-blue-900 pl-5 pb-5">
    <img :src="BodyDecor" class="absolute -top-26 left-0" />
    <div class="md:flex">
      <div class="md:w-3/4">
        <h2 class="font-semibold text-3xl py-5">Tanlovlar</h2>
        <div class="md:flex gap-10 md:w-11/12 bg-white">
          <img
            :src="ImageContest"
            class="md:w-1/2 rounded-md"
            alt=" Logo Contest"
          />
          <div class="p-5">
            <h4 class="text-2xl font-semibold py-5">Diqqat Tanlov!</h4>
            <p class="text-16px font-light">
              Birlashgan Millatlar Tashkiloti Bosh Assambleyasining 2015-yil
              22-dekabrdagi 70-sessiyasida 11-fevral “Ilm-fan sohasidagi ayollar
              va qizlar xalqaro kuni” sifatida rasman e'lon qilingan. Ushbu
              munosabat bilan “O'zbekiston olima va tadqiqotchi
              xotin-qizlarining innovatsion g'oyalari” tanlovi tashkil
              etilmoqda. Tanlov joriy yilning yanvar-fevral oylarida 3 bosqichda
              va 18-30 hamda 30 yoshdan yuqori bo'lgan yosh toifasidagi
              xotin-qizlar o'rtasida o'tkaziladi. Hujjatlar ushbu havola
              (https://forms.gle/2W3US3h4ZqpDSH8w9) orqali yoki hududiy “Oila va
              xotin-qizlarni qo'llab-quvvatlash”
            </p>
            <button
              class="mt-5 outline-none bg-blue-900 text-white px-6 py-1 rounded-sm font-semobold"
            >
              Batafsil
            </button>
          </div>
        </div>
        <div
          class="md:w-1/2 mt-20 md:my-20 flex flex-col items-center bg-white"
        >
          <div
            class="md:w-4/5 bg-white flex items-center justify-center p-1 rounded-50px relative -top-10"
          >
            <img :src="ImageContest" class="rounded-50px" alt=" Logo Contest" />
          </div>
          <div class="px-5 relative -top-15 left-5">
            <h4 class="text-2xl font-semibold py-5">Diqqat Tanlov!</h4>
            <p class="text-12px font-light w-5/6">
              Birlashgan Millatlar Tashkiloti Bosh Assambleyasining 2015-yil
              22-dekabrdagi 70-sessiyasida 11-fevral “Ilm-fan sohasidagi ayollar
              va qizlar xalqaro kuni” sifatida rasman e'lon qilingan. Ushbu
              munosabat bilan “O'zbekiston olima va tadqiqotchi
              xotin-qizlarining innovatsion g'oyalari” tanlovi tashkil
              etilmoqda.
            </p>
            <button
              class="mt-5 outline-none bg-blue-900 text-white px-6 py-1 rounded-sm font-semobold"
            >
              Batafsil
            </button>
          </div>
        </div>
      </div>
      <div>
        <h2 class="font-semibold text-3xl py-5">So'ngi joylanganlar</h2>
        <div class="flex">
          <div class="bg-white p-1 rounded-md w-30">
            <img :src="ImageContest" class="rounded-md" alt=" Logo Contest" />
          </div>
          <div class="pl-5">
            <h4 class="font-semibold">Diqqat Tanlov!</h4>
            <a href="#" class="flex items-center gap-2">
              <img :src="Calendar" />
              <p class="text-sm py-2">2023-02-04 10:34:49</p></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
