<script setup>
import HomeNews from "./HomeNews.vue";
import HomeAds from "./HomeAds.vue";
import HomeAbout from "./HomeAbout.vue";
</script>
<template>
  <HomeNews />
  <HomeAds />
  <HomeAbout />
</template>
