<script setup>
import TalentsInfo from "./TalentsInfo.vue";
import TalentsPageItems from "./TalentsPageItemss.vue";
import TalentsDocument from "./TalentsDocument.vue";
import TalentsListItems from "./TalentsListItems.vue";

import BodyDecor from "@/assets/img/body-decor.png";
</script>
<template>
  <div class="relative flex items-center flex-col md:px-20 pl-5 bg-gray-100">
    <img :src="BodyDecor" class="absolute -top-26 left-0" />
    <TalentsInfo />
    <TalentsPageItems />
    <TalentsDocument />
    <TalentsListItems />
  </div>
</template>
