<script>
import Header from "../components/CLayouts/Header.vue";
import Footer from "../components/CLayouts/Footer.vue";
export default {
  components: {
    Header,
    Footer,
  },
};
</script>
<template>
  <div class="flex flex-col min-h-screen justify-between">
    <Header />

    <div class="min-h-90vh container mx-auto">
      <router-view></router-view>
    </div>

    <Footer />
  </div>
</template>
